.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.title{
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 1vh;
  color: #009688;
}

.d-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.without-user {
  text-align: center;
  padding: 2rem 0 5rem;
}
