<div class="foot">
  <h3>{{ footer.info }}</h3>
  <figure class="icon-social-media">
    <img src="../../../assets/images/icon-facebook.png" />
    <img src="../../../assets/images/icon-instagram.png" />
    <img src="../../../assets/images/icon-linkedin.png" />
    <img src="../../../assets/images/icon-snapchat.png" />
    <img src="../../../assets/images/icon-twitter.png" />
    <img src="../../../assets/images/icon-whatsapp.png" />
  </figure>

  <h3>
    {{ footer.developed.text }}
    <a class="foot__link" href="{{ footer.developed.link }}">{{
      footer.developed.textLink
    }}</a>
  </h3>
</div>
